body {
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: cadetblue;
}



a {
  color: inherit;
}

a:hover {
  color: silver;
}

a:link {
  text-decoration: none;
}