.story-wrapper {
  display: flex;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  inline-size: -webkit-fill-available;
}

.image-container {
  display: flex;
}

.story-image {
  border-radius: 90%;
  padding: 0.5em;
}

.story-title, .story-abstract {
  text-align: center;
}